<nav class="navbar navbar-dark bg-inverse" style="border-radius:initial">
    <a class="navbar-brand" href="#">Dashboards 1.2</a>
</nav>

<div class="container">

    <div class="alert alert-warning" role="alert">
        <strong>Welcome to dashboards 1.2</strong> completely written in Angular2 (Typescript). The dashbaord object updates when the user makes changes and posts back to the server, and you thought it'd be difficult without $watch!
    </div>

    <dashboard></dashboard>
</div>
