<div class="card">
    <div class="card-block">
        <div class="row" style="vertical-align:middle; text-align:center">
            <div class="col-md-6"><h1 class="card-text">Dashboard - {{dashboard.name}}</h1></div>
            <form [ngFormModel]="dateRangeForm">
                <div class="col-md-3">
                    Start <input class="form-control" type="date" [ngFormControl]="dateRangeForm.controls['start']" [(ngModel)]="dateRange.start"/>
                </div>
                <div class="col-md-3">
                    End <input class="form-control" type="date" [ngFormControl]="dateRangeForm.controls['end']" [(ngModel)]="dateRange.end"/>
                </div>
            </form>
        </div>        
    </div>
</div>

<div class="card-deck-wrapper" >
    <div class="card-deck dashboard-row" 
         style="width: 100%" 
         *ngFor="#row of widgetRows">
            <widget [id]="row[0].id"></widget>

            <widget *ngIf="row.length > 1"
                    [id]="row[1].id">
            </widget>
    </div>
</div>
