<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboards</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.2/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script src="~/lib/es6-shim/es6-shim.min.js"></script>
    <script src="~/lib/systemjs/system-polyfills.js"></script>
    <script src="~/lib/angular2/shims_for_IE.js"></script>

    <script src="~/lib/angular2/angular2-polyfills.js"></script>
    <script src="~/lib/systemjs/system.src.js"></script>
    <script src="~/lib/rxjs/Rx.js"></script>
    <script src="~/lib/angular2/angular2.dev.js"></script>

    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>

    <script>
      System.config({
        packages: {
          js: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('js/app/main')
            .then(null, console.error.bind(console));
    </script>
</head>
<body style="background-color:#e1e8f0;">
    @RenderBody()
</body>
</html>
