<div class="card-block">
    <div class="alert alert-info">
        Showing results from {{dateRange.start || 'the beginning of time'}} to {{dateRange.end || 'the end of time'}}
    </div>

    <div class="row">
        <div class="col-md-8">
            <h4 class="card-title">{{definition.title}}</h4>
        </div>
        <div class="col-md-4">
            <div class="dropdown closed" style="float: right; margin-top: -5px;">
                <button class="btn btn-secondary dropdown-toggle chart-type-dropdown" type="button" id="chartType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="padding: 0.25rem 0.4rem">
                    <i class="fa fa-cog" style="margin-left: 2px;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="chartType">
                    <li class="dropdown-item" (click)="changeColour('#6ed3cf')">
                        Blue
                    </li>
                    <li class="dropdown-item" (click)="changeColour('#9068be')">
                        Purple
                    </li>
                </ul>
            </div>
        </div>

    </div>
    
    <p class="card-text">Type: {{definition.type}}</p>
       
    <div *ngIf="definition.type === 'image'">
        <img bind-src="definition.data" />
    </div>
    <div *ngIf="definition.type === 'text'">
        <p>{{definition.data}}</p>
    </div>
</div>